<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="1.0">
    <persistence-unit name="tExpoCRM"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.haulmont.thesis.crm.entity.BaseLookup</class>
        <class>com.haulmont.thesis.crm.entity.BaseUnit</class>
        <class>com.haulmont.thesis.crm.entity.Catalog</class>
        <class>com.haulmont.thesis.crm.entity.ProjectFormat</class>
        <class>com.haulmont.thesis.crm.entity.ProjectTheme</class>
        <class>com.haulmont.thesis.crm.entity.ProjectType</class>
        <class>com.haulmont.thesis.crm.entity.TerritorialClassifier</class>
        <class>com.haulmont.thesis.crm.entity.CompanyType</class>
        <class>com.haulmont.thesis.crm.entity.ProductType</class>
        <class>com.haulmont.thesis.crm.entity.ProductState</class>
        <class>com.haulmont.thesis.crm.entity.Tax</class>
        <class>com.haulmont.thesis.crm.entity.Unit</class>
        <class>com.haulmont.thesis.crm.entity.CharacteristicType</class>
        <class>com.haulmont.thesis.crm.entity.ExhibitSpace</class>
        <class>com.haulmont.thesis.crm.entity.Characteristic</class>
        <class>com.haulmont.thesis.crm.entity.Nomenclature</class>
        <class>com.haulmont.thesis.crm.entity.Product</class>
        <class>com.haulmont.thesis.crm.entity.Cost</class>
        <class>com.haulmont.thesis.crm.entity.Currency</class>
        <class>com.haulmont.thesis.crm.entity.RuefClassifier</class>
        <class>com.haulmont.thesis.crm.entity.Log1C</class>
        <class>com.haulmont.thesis.crm.entity.Country</class>
        <class>com.haulmont.thesis.crm.entity.FormOfIncorporation</class>
        <class>com.haulmont.thesis.crm.entity.AddressPartType</class>
        <class>com.haulmont.thesis.crm.entity.Region</class>
        <class>com.haulmont.thesis.crm.entity.OrderStatus</class>
        <class>com.haulmont.thesis.crm.entity.RegionDistrict</class>
        <class>com.haulmont.thesis.crm.entity.City</class>
        <class>com.haulmont.thesis.crm.entity.Address</class>
        <class>com.haulmont.thesis.crm.entity.ExtProject</class>
        <class>com.haulmont.thesis.crm.entity.OrderDoc</class>
        <class>com.haulmont.thesis.crm.entity.OrderDetail</class>
        <class>com.haulmont.thesis.crm.entity.CfcItem</class>
        <class>com.haulmont.thesis.crm.entity.BugetItem</class>
        <class>com.haulmont.thesis.crm.entity.WebAddress</class>
        <class>com.haulmont.thesis.crm.entity.EmailAddress</class>
        <class>com.haulmont.thesis.crm.entity.ExtEmployee</class>
        <class>com.haulmont.thesis.crm.entity.ExtPosition</class>
        <class>com.haulmont.thesis.crm.entity.ExtDepartment</class>
        <class>com.haulmont.thesis.crm.entity.Okvd</class>
        <class>com.haulmont.thesis.crm.entity.LineOfBusiness</class>
        <class>com.haulmont.thesis.crm.entity.ExtCompany</class>
        <class>com.haulmont.thesis.crm.entity.InvoiceDoc</class>
        <class>com.haulmont.thesis.crm.entity.ActDoc</class>
        <class>com.haulmont.thesis.crm.entity.VatInvoiceDoc</class>
        <class>com.haulmont.thesis.crm.entity.ActDetail</class>
        <class>com.haulmont.thesis.crm.entity.ProjectTeam</class>
        <class>com.haulmont.thesis.crm.entity.InvoiceDetail</class>
        <class>com.haulmont.thesis.crm.entity.RoleInProject</class>
        <class>com.haulmont.thesis.crm.entity.Payment</class>
        <class>com.haulmont.thesis.crm.entity.PaymentDetail</class>
        <class>com.haulmont.thesis.crm.entity.IntegrationResolver</class>
        <class>com.haulmont.thesis.crm.entity.ExternalSystem</class>
        <class>com.haulmont.thesis.crm.entity.OrdDoc</class>
        <class>com.haulmont.thesis.crm.entity.InvDoc</class>
        <class>com.haulmont.thesis.crm.entity.AcDoc</class>
        <class>com.haulmont.thesis.crm.entity.VatDoc</class>
        <class>com.haulmont.thesis.crm.entity.Operator</class>
        <class>com.haulmont.thesis.crm.entity.CdrLog</class>
        <class>com.haulmont.thesis.crm.entity.Activity</class>
        <class>com.haulmont.thesis.crm.entity.CallCampaignTarget</class>
        <class>com.haulmont.thesis.crm.entity.Qualification</class>
        <class>com.haulmont.thesis.crm.entity.OperatorQualification</class>
        <class>com.haulmont.thesis.crm.entity.ActivityResult</class>
        <class>com.haulmont.thesis.crm.entity.CallCampaignStatus</class>
        <class>com.haulmont.thesis.crm.entity.OutboundCampaign</class>
        <class>com.haulmont.thesis.crm.entity.OperatorSession</class>
        <class>com.haulmont.thesis.crm.entity.OperatorSessionEvents</class>
        <class>com.haulmont.thesis.crm.entity.CompanyProjects</class>
        <class>com.haulmont.thesis.crm.entity.InformationSource</class>
        <class>com.haulmont.thesis.crm.entity.ExtContactPerson</class>
        <class>com.haulmont.thesis.crm.entity.Communication</class>
        <class>com.haulmont.thesis.crm.entity.CommKind</class>
        <class>com.haulmont.thesis.crm.entity.ContactRole</class>
        <class>com.haulmont.thesis.crm.entity.CompanyVerifiedState</class>
        <class>com.haulmont.thesis.crm.entity.InvDocBugetDetail</class>
        <class>com.haulmont.thesis.crm.entity.Resource</class>
        <class>com.haulmont.thesis.crm.entity.Guesthouse</class>
        <class>com.haulmont.thesis.crm.entity.TransferType</class>
        <class>com.haulmont.thesis.crm.entity.TourType</class>
        <class>com.haulmont.thesis.crm.entity.ExtTask</class>
        <class>com.haulmont.thesis.crm.entity.NomenclatureResource</class>
        <class>com.haulmont.thesis.crm.entity.EquipmentState</class>
        <class>com.haulmont.thesis.crm.entity.ResourceType</class>
        <class>com.haulmont.thesis.crm.entity.Provider</class>
        <class>com.haulmont.thesis.crm.entity.Room</class>
        <class>com.haulmont.thesis.crm.entity.Workplace</class>
        <class>com.haulmont.thesis.crm.entity.Equipment</class>
        <class>com.haulmont.thesis.crm.entity.Staff</class>
        <class>com.haulmont.thesis.crm.entity.ResourceProperty</class>
        <class>com.haulmont.thesis.crm.entity.OrdResource</class>
        <class>com.haulmont.thesis.crm.entity.ResourceHistory</class>
        <class>com.haulmont.thesis.crm.entity.ResourceAttachment</class>
        <class>com.haulmont.thesis.crm.entity.CompanyComTurnoverType</class>
        <class>com.haulmont.thesis.crm.entity.BaseActivity</class>
        <class>com.haulmont.thesis.crm.entity.CallActivity</class>
        <class>com.haulmont.thesis.crm.entity.ActivityKind</class>
        <class>com.haulmont.thesis.crm.entity.FederalDistrict</class>
        <class>com.haulmont.thesis.crm.entity.UnloadingBuffer</class>
        <class>com.haulmont.thesis.crm.entity.CompanyScale</class>
        <class>com.haulmont.thesis.crm.entity.NonDuplicateCompanies</class>
        <class>com.haulmont.thesis.crm.entity.DuplicateCompany</class>
        <class>com.haulmont.thesis.crm.entity.DuplicateCompanyDetail</class>
        <class>com.haulmont.thesis.crm.entity.LineOfBusinessCompaniesFlags</class>
        <class>com.haulmont.thesis.crm.entity.CashMachine</class>
        <class>com.haulmont.thesis.crm.entity.CashDocument</class>
        <class>com.haulmont.thesis.crm.entity.CashDocumentPosition</class>
        <class>com.haulmont.thesis.crm.entity.ProjectRoom</class>
        <class>com.haulmont.thesis.crm.entity.ExtContractorAccount</class>
        <class>com.haulmont.thesis.crm.core.app.unisender.entity.UniContact</class>
        <class>com.haulmont.thesis.crm.entity.MessageCampaignUnisender</class>
        <class>com.haulmont.thesis.crm.entity.CampaignUnisender</class>
        <class>com.haulmont.thesis.crm.entity.MessageUnisender</class>
        <class>com.haulmont.thesis.crm.entity.MessageCampaignStatus</class>
        <class>com.haulmont.thesis.crm.entity.PayOrd</class>
        <class>com.haulmont.thesis.crm.entity.HistoryCompanyCells</class>
        <class>com.haulmont.thesis.crm.entity.LineOfBusinessContactPerson</class>
        <class>com.haulmont.thesis.crm.entity.LearnedAboutExhibition</class>
        <class>com.haulmont.thesis.crm.entity.BookingEvent</class>
        <class>com.haulmont.thesis.crm.entity.BookingEventDetail</class>
        <class>com.haulmont.thesis.crm.entity.EmailStatus</class>
        <class>com.haulmont.thesis.crm.entity.RoomSeatingType</class>
        <class>com.haulmont.thesis.crm.entity.RoomException</class>
        <class>com.haulmont.thesis.crm.entity.RoomGeolocation</class>
        <class>com.haulmont.thesis.crm.entity.LogCatalog</class>
        <class>com.haulmont.thesis.crm.entity.RoomSeatingTypeAttachment</class>
        <class>com.haulmont.thesis.crm.entity.CategoryTask</class>
        <class>com.haulmont.thesis.crm.entity.Labour</class>
        <class>com.haulmont.thesis.crm.entity.ActivityRes</class>
        <class>com.haulmont.thesis.crm.entity.BaseCampaign</class>
        <class>com.haulmont.thesis.crm.entity.CallCampaign</class>
        <class>com.haulmont.thesis.crm.entity.CallCampaignTrgt</class>
        <class>com.haulmont.thesis.crm.entity.CampaignKind</class>
        <class>com.haulmont.thesis.crm.entity.SoftPhoneEvent</class>
        <class>com.haulmont.thesis.crm.entity.SoftPhoneSession</class>
        <class>com.haulmont.thesis.crm.entity.EmailActivity</class>
        <class>com.haulmont.thesis.crm.entity.EmailCampaign</class>
        <class>com.haulmont.thesis.crm.entity.EmailCampaignTarget</class>
        <class>com.haulmont.thesis.crm.entity.AccessControlLog</class>
        <class>com.haulmont.thesis.crm.entity.ReqDetail</class>
        <class>com.haulmont.thesis.crm.entity.ReqDoc</class>
        <class>com.haulmont.thesis.crm.entity.ReqDocKind</class>
        <class>com.haulmont.thesis.crm.entity.RoomResourceLoadingsInfo</class>
        <class>com.haulmont.thesis.crm.entity.RoomLoadingCollision</class>
        <class>com.haulmont.thesis.crm.entity.FacilityManagment</class>
        <class>com.haulmont.thesis.crm.entity.GuideLine</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>
</persistence>
