<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2012 Haulmont Technology Ltd. All Rights Reserved.
 ~ Haulmont Technology proprietary and confidential.
 ~ Use is subject to license terms.
 -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Vaadin Web Application</display-name>

    <!-- Application properties config files -->
    <context-param>
        <param-name>appPropertiesConfig</param-name>
        <param-value>
            classpath:mobile-app.properties
            classpath:crm-mobile-app.properties
            file:${catalina.home}/conf/app-mobile/local-mobile.app.properties
        </param-value>
    </context-param>

    <listener>
        <listener-class>com.haulmont.mobile.sys.MobileAppContextLoader</listener-class>
    </listener>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.haulmont.mobile.sys.MobileApplicationServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>com.haulmont.mobile.web.AppMobile</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.haulmont.mobile.web.gwt.MobileMailWidgetSet</param-value>
        </init-param>
        <!-- Also configure fallback app + widgetset for non webkit browsers -->
        <init-param>
            <description>
                Vaadin fallback application class to start
            </description>
            <param-name>fallbackApplication</param-name>
            <param-value>com.haulmont.mobile.web.FallbackApplication</param-value>
        </init-param>
        <init-param>
            <description>
                Application widgetset
            </description>
            <param-name>fallbackWidgetset</param-name>
            <param-value>com.vaadin.terminal.gwt.DefaultWidgetSet</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>