/* Override global theme constants or define new ones here #0091d0 */

$thesis-menubar-color: #0091d0;
/*
$v-font-color: #FFE4E1;
$v-selection-color: #FFE4E1;
$v-focus-color: #3eb489;
$thesis-highlight-color: #fff0f5;
*/